<footer class="page-footer blue-grey darken-2">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Anonymous Realty 
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>