{{> nav}}
<main>
	<div class="container">
		<h5>With the growing awareness and acceptance of same-sex partners and married couples seeking to enter in the real estate market as buyers or sellers, there is also a desire to engage realtors who openly and wholeheartedly understand and support these families.  In addition to word-of-mouth referrals and personal references, the internet is also a key resource for researching options and making connections, and there are already several website catering to realtors and their clients within the LGBT community.  Anonymous Realtors seeks to enter into this market with a web-based service that stands apart with a strong visual appeal and easy-to-use interface for both realtors and their potential clients.  A key benefit for realtors is a lower cost by offering a no-fee-up-front service with commission rates lower than those of major competitors.
		</h5>
	</div>
</main>

{{> footer}}