{{>nav}}
<main>
	<div class="container">
		<h1>Search</h1>
		<div id="row">
			<form class="col s12 16" id="search">
				<div class="row">
		  			<div class="input-field col s2">
		    			<input id="city" type="text">
		    			<label>City</label>
		  			</div>
		  			<div class="input-field col s2">
		    			<input id="state" type="text" maxlength="2" length="2">
		    			<label>State</label>
		  			</div>
			    </div>
			    <button class="btn waves-effect waves-light green" type="submit" id="searchSubmit">Submit
			    	<i class="material-icons right">send</i>
			  	</button>
			</form>
		</div>
		<div class="row" id="searchResultList">
		</div>
	</div>
</main>

{{> footer}}

<script type="text/javascript">
	var results = [];
	var areas = [];
	{{#each agents}}
		areas = [];
		{{#each this.local.areas}}
			areas.push('{{this.city}}, {{this.state}}'.toLowerCase());
		{{/each}}
		results.push({id: '{{this._id}}', name: '{{this.local.firstName}}', areas: areas});
	{{/each}}
	$('#search').on('submit', function(){
		search('area');
		return false;
	});
</script>