{{>nav}}
<div class="container">
	<h1>Signup</h1>
	<form action="/signup" method="POST">
		<div class="row">
			<div class="input-field col l6 s12">
				<input type="email" id="email" name="email" class="validate">
				<label>Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col l6 s12">
				<input type="password" id="password" name="password" class="validate">
				<label>Password</label>
			</div>
		</div>
		<button class="btn waves-effect waves-light green" type="submit" name="action">Signup
	    <i class="material-icons right">send</i>
	  </button>
	</form>
</div>