body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.group { 
    position: relative; 
    margin-bottom: 45px; 
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.searchResultItem{
    border: solid;
    border-width: 1px;
    width: 25%;
}

.profile {
    margin-top: 40px;
}

#profile-img {
    height: 200px;
    width: 250px;
}

hr {
    border-color: #BDBDBD;
    border-width: 1px;
    border-style: solid;
}

.checkbox-green[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #4caf50;
     background-color: #4caf50;
}

.header-img {
    margin-top: 10px;
}

.header-img h2 {
    margin: 0;
}

.header-img img {
    height: 150px;
    width: 150px;
}

.header-list {
    display: inline;
}

.row .agent-card {
    margin-bottom: 0;
}

.agent {
    margin-bottom: 1px;
}

.agent-row {
    margin-bottom: 0;
}

.agent-row p {
    margin-bottom: 5px;
}

.agent-row h5 {
    margin-top: 0;
    margin-bottom: 13px;
}

#agentBtn {
    padding: 0 1rem;
}

footer.page-footer {
    padding-top: 0;
}

#contactModal h5 {
    margin: 0;
}

#contactModal .row {
    margin-bottom: 0;
}

.adminButton {
    margin: 5px 0;
}